@model DataLayer.Order

@{
    ViewData["Title"] = "سبد خرید";
}

@if (Model != null)
{
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>کالا</th>
                <th>تعداد</th>
                <th>قیمت</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.OrderDetail)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Count</td>
                    <td>@((item.Price * item.Count).ToString("#,0")) تومان</td>
                    <td><a href="@Url.Action("DeleteCart",new {detailid = item.DetailId})" class="text-danger">حذف</a></td>
                </tr>
            }
        </tbody>
    </table>
    <h5>جمع کل : @(Model.OrderDetail.Sum(o => o.Price * o.Count).ToString("#,0")) </h5>

}
else
{
    <div class="alert alert-secondary text-center shadow-lg">
        سبد خرید شما خالی است !
    </div>
}


